<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Introduction to RStudio</td> </tr>
      <tr> <td>09:15</td>  <td>Addressing Data</td> </tr>
      <tr> <td>09:35</td>  <td>Reading and Writing CSV Files</td> </tr>
      <tr> <td>10:00</td>  <td>Break</td> </tr>
      <tr> <td>10:15</td>  <td>Analyzing Patient data </td> </tr>
      <tr> <td>11:10</td>  <td>Creating Functions</td> </tr>
      <tr> <td>11:50</td>  <td>Break</td> </tr>
      <tr> <td>12:00</td>  <td>Analyzing Multiple Data Sets</td> </tr>
      <tr> <td>12:30</td>  <td>Making Choices</td> </tr>
      <tr> <td>12:55</td>  <td>Install tidyverse, dplyr, gapminder</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
      </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Understanding Factors</td> </tr>
      <tr> <td>09:30</td>  <td>Data Types and Structures</td> </tr>
      <tr> <td>10:15</td>  <td>Break</td> </tr>    
      <tr> <td>10:30</td>  <td>Loops in R</td> </tr>
      <tr> <td>11:00</td>  <td>Plotting and Visualization with ggplot</td> </tr>
      <tr> <td>11:40</td>  <td>Break</td> </tr>
      <tr> <td>11:50</td>  <td>Plotting and Visualization with ggplot (Continued)</td> </tr>
      <tr> <td>13:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
